body{
	background:#000;
	color:#def;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-1600px);

 
}
header{
	height:100px;
}

#logo{
	background: -webkit-gradient(radial, 75 50, 0, 75 50, 75, from(red), to(#000));
	border: solid 10px #def;
 	border-radius: 6px;
	width:150px;
	height:50px;
	color:white;
	font-size: 35px;
	text-align: center;
	-webkit-text-shadow:10px 10px 20px rgba(200,200,200,0.5);
	font-family: Junction; 
	text-shadow: rgba(180, 180, 180, 0.496094) 0px 7px 0px;
	-webkit-box-shadow: #000 7px 7px 0px;
	-webkit-transform: rotateZ(-20deg);
	position:absolute;
	z-index:10;
}

#setting{
	background: brown;
	border: solid 4px #853;
	width:150px;
	color:white;
	text-align: center;
	-webkit-text-shadow:10px 10px 20px rgba(200,200,200,0.5);
	font-family: comic; 
	-webkit-box-shadow: #000 7px 7px 0px;
	-webkit-transform: rotateZ(10deg);
	position:absolute;
	right:0px;
	z-index:10;
}

#menu{
	z-index:1;
	position:absolute;
	top:-20px;
	left:12%;
	width:100%;
}
ul.horizontal li{
	/*padding: 30px 10px 30px 10px;
	background:url(/images/curtain.png) center no-repeat;
	background-size:100%;
	*/
	float:left;
	background:red;
	display:block;
	width:14%;
	height:100px;
	border:solid #def 2px;
 	border-bottom-left-radius: 90px;
 	border-bottom-right-radius: 90px;
	text-align:center;
	padding-top:10px;
}

ul.horizontal li:hover, .selected{
	height:140px;
}
nav{
	width:15%;
	height:400px;
 	border-bottom-right-radius: 150px;
	border: solid 2px #bac;
	background: red;
	position:absolute;
	left:0px;
	top:0;
	padding-top:100px;
	z-index:1;
}
aside{
	width:15%;
	height:400px;
 	border-bottom-left-radius: 150px;
	border: solid 2px #bac;
	background:red;
	position:absolute;
	top:0;
	padding-top:100px;
	z-index:1;
	right:0px;
}

#content{
}


#main{
	background: -webkit-gradient(radial, 75 50, 0, 75 50, 75, from(#bac), to(#edf));
 	border-radius: 8px;
	color:324;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.62)));
	border: solid 2px #bac;
	width:70%;
	position:absolute;
	left:10%;
	padding:50px 5% 50px 5%;
}
footer{
    clear: both;
	width:100%;
}