	
	    body {
	        margin: 0;
	        font-family: Helvetica;
	        background: #888888;
	        color:#000000 ;
	        overflow:hidden;
	    }
	    
	    .container {
	        position: absolute;
	        width: 100%;
	    }
	
	    body[orient="profile"] .container {
	        height: 416px;
	    }
	    
	    body[orient="landscape"] .container {
	        height: 268px;
	    }
	    
	    .toolbar {
	        position: absolute;
	        padding: 10px 0;
	        width: 100%;
	        height: 20px;
	        font-size: 20px;
	        font-weight: bold;
	        text-align: center;
	        text-shadow: #3F4E63 0px -1px 1px;
	        background: url(/images/iPhoneToolbar.png) #8191AA repeat-x;
	    }
	        .item {
        background: url(/images/iPhoneArrow.png) no-repeat right center;
        border-bottom: 1px solid #E0E0E0;
        padding: 8px 32px 8px 8px;
        color: #000000;
    }
	        .active {
        background: url(/images/iPhoneDown.png) no-repeat right center;
        border-bottom: 1px solid #E0E0E0;
        padding: 8px 32px 8px 8px;
        color: #222222;
    }

	    body[orient="landscape"] .toolbar {
	        font-size: 20px;
	    }
	
	    .anchorTop {
	        top: 0;
	    }
	
	    .anchorBottom {
	        border-top: 1px solid #3f4e63;
	        padding-bottom: 9px;
	        bottom: 0;
	    }
	
	    .center {
	        position: absolute;
	        top: 40px;
	        background: #FFFFFF;
	    }
	
	    body[orient="landscape"] .center {
	        top: 40px;
	        bottom: 40px;
	        width: 100%;
	    }
	    
	    .item {
	        border-bottom: 1px solid #E0E0E0;
	        padding: 8px 32px 8px 8px;
	        color: #000000;
	    }
	    

.moblie{
	border:solid 1px;
	height:100%;
	width:100%;
}
.popup-content{
position:absolute;
	width:100%;
	height:80%;
	top:20%;
	overflow-y:scroll;
}
.medication{
	font-size: 20px;
	text-decoration: underline; 

}
.action{
	font-size: 12px;
	text-decoration: underline;

}
.popup-paragraph{
	font-size: 20px;
}
#space{
height:3em;	 
}
.space{
height:3em;	 
}
.expander{
	border:solid 1px #005AFF; 
	padding:2em; 
	margin:1em;
	width:80%;
	
}

.methaman-header{ 
font-size:large;
color: #0B5ED8;
}
.methaman-page{ 
padding-left:3em;

}
.methaman-chapter{ 
font-size:larger;
color: #000000;
}

.methaman-chapter-left{ 
font-size:larger;
color: blue;
width:40%;
vertical-align:top;
}
.methaman-chapter-right{ 
font-size:larger;
color: blue;
width:40%;
vertical-align:top;
}

.methaman-chapter{ 
font-size:larger;
color: blue;
}

.methaman-table{
	width:320px;
	height:380px;
}
.md2{
	background:  url("/images/md2.jpg") no-repeat top center;
	height:700px;
	width:600px;
}
#dispense_time{
	position:absolute;
	top:340px;
	left: 240px;
}	

#dispense_button{

	position:absolute;
	top:665px;
	left: 430px;

}
.task_block{
 background:  #91C7FF; 
 padding: 2px; 
 margin:2px;
 	 border: solid 1px ;

}

#intro{
	margin-top:4em;
	text-align:center;
	background: white;
}
.header{
	margin-top:2em;
	margin-left:2em;
	font-size:30px;
}

.value{
	width:300px;
}
.name{
	float:left;
	font-weight:bold;
	width:200px;
	
}
.patient_links{
width:90%;
padding:2px;
margin:2%;
}
.demographics {
    float: left;
    padding-left: 2em;
}
.content {
    padding: 2em;
}


.med_text, .med-text{
border:solid 1px;
height:40px;
padding:2px;
background: #E6F2FF;
}

.med_header, .med-header{
background: #B9DCFF;
}

.adherence_table, .adherence-table{
	table-layout: fixed;
	font-weight:bold;
width: 60%;	
}

.adherence_good, .adherence-good{
border:solid 1px;
height:40px;
padding:2px;
background: #33CC00;

}

.adherence_bad, .adherence-bad{
border:solid 1px;
height:40px;
padding:2px;
background: #F62817;

}

.adherence_header, .adherence-header{
border:solid 1px;
height:40px;
padding:2px;

background: #6197CF;
}

#popup{
position:absolute;
left:200px;
top:200px;
z-index:1;
background:#ffffff;
border:solid 1px;
width:50%;
height:40%;

}
#popup-bar{
	background: blue;
}
.popup-header{
	font-size:30px;
}
.popup-icon{
position:absolute;
right:20px;
top:0px;
height:10%;
width:10%;
}
