body{
	background:#e0e0e2;
	-webkit-box-shadow: #222 5px 5px 10px insert;
	border:30px #fff solid;
	padding:40px;
	height:1000px; 
}
header{
	height:80px;
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	-webkit-box-shadow: grey 0px 10px 100px;
	background:#fff;
	
}
#logo{
	padding-left:150px;
	padding-top:20px;
	float:left;
}
#global-form{
	padding-left:150px;
	padding-top:20px;
	float:right;
	
}
nav{
	position:absolute;
	z-index:10;
	top:100px;
	left:15%;
}
nav ul li{
	display:inline;
	background:white;/* rgba(200,200,200,0,6);*/
	color:blue;
	margin-left:20px;
	padding:2px 5px 2px 5px;
	-webkit-box-shadow: #222 5px 5px 10px;
	
	
}
 
nav ul li a{
color:#0E5FD8;
text-decoration:none;	
	
}

footer{
	height:60px;
	width:100%;
	position:absolute;
	left:0px;
 	bottom:0px;
	text-align:center;
	color:grey;
	
}
#mainsection{
	height:600px;
	width:80%;
	position:absolute;
	left:130px;
	top:100px;
	-webkit-box-shadow: grey 0px 10px 20px;
	background:url('/images/care-main.jpg');
	background-size:100%;
}
#login-table{
	position:absolute;
	top:50%;
	left:30%;
	height:30%;
	width:40%;
	text-align:center;
	color:grey;
	background:rgba(255, 255, 255, 0.8);
	border:solid 1px;
	-webkit-box-shadow: grey 5px 5px 10px;
	
}
#taskbar{
	position:absolute;
	bottom:5%;
	left:5%;
	width:90%;
	height:300px;
	background:rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: grey 5px 5px 10px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1000;
	-webkit-transform: translateZ(-1600px);
}
h1{
	color: #005AFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
	margin:3px 10px;
}
h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
	margin:3px 10px;
}

#taskbar a img{
	vertical-align:top;
	height:150px;
	width:150px;
	margin: 5px 25px;
  -webkit-box-shadow: black 5px 5px 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  
}

#taskbar a img:hover{
 -webkit-transform: scale(1.3);
  /*-webkit-transform: rotateX(-20deg)  rotateY(0deg)  translateZ(20px) ;*/
}