body{
	background:#e0e0e2;
}
header{
	height:80px;
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	-webkit-box-shadow: grey 0px 10px 100px;
	background:#fff;
	
}
#logo{
	padding-left:150px;
	padding-top:20px;
	float:left;
}
#global-form{
	padding-left:150px;
	padding-top:20px;
	float:right;
	
}
aside{
	height:600px;
	width:20%;
	position:absolute;
	left:30px;
	top:100px;
	-webkit-box-shadow: grey 5px 5px 50px;
	background:#fff;
	
}
footer{
	height:60px;
	width:100%;
	position:absolute;
	left:0px;
 	bottom:0px;
	-webkit-box-shadow: grey 0px -10px 100px;
	background:#fff;
	text-align:center;
	color:grey;
	
}
#mainsection{
	height:600px;
	width:70%;
	position:absolute;
	left:320px;
	top:100px;
	-webkit-box-shadow: grey 0px 10px 20px;
	background:#fff;
}
aside header{
	background:-webkit-gradient(linear, left top, left bottom, from(#91C7FF), to(#0E5FD8) );
	height:2em;
	font-weight: bold;
	font-size:20px;
	color:white;
	text-align:center;
	position:relative;
	}
	
aside ul  {
  list-style-type: none;
  margin: 0px;
-webkit-padding-start: 0px;
display:none;
 -webkit-transition: all 0.4s ease-in-out;
 
}
aside section.selected ul  {
 display:block;
}
aside ul li:nth-child(even) {
  background: #91C7FF;
}
aside ul li:nth-child(odd) {
  background: white;
}
